<div id="form_error_box" class="alert alert-danger fade in" style="display: none;">
	<a href="javascript:void(0)" class="close" data-hide="alert" aria-label="close">&times;</a>
	<div id="form_error_messages">
		<ul>
			<% @model.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
</div>

<script>

	<% if @model.errors.any? %>
	$('#form_error_box').show();
	<% end %>
</script>
