<br/>

<div class="">

    <%= save_update_btn @model, f %>

    <% if lookup_context.find_all(ActiveModel::Naming.plural(model) + '/_form_buttons').any? %>
    	<%= render partial: ActiveModel::Naming.plural(model).to_s + '/form_buttons', locals: { f: f } %>
    <% end %>

    <a id="form_back_btn" class="btn btn-primary back_btn"><%= t('helpers.action.back') %></a>
</div>
