<% if !current_user.nil? && current_user.admin? %>
	<p/></p>
	<div class="panel-group">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title"><a data-toggle="collapse" href="#collapse1"><%= t('helpers.changelog') %></a></h4>
			</div>
			<div id="collapse1" class="panel-collapse collapse">
				<div class="panel-body">
					<b>Versão 1.0 (14/11/2015)</b>
						<ul>
							<li>Implantação;</li>
							<li>E-mails de recibo;</li>
							<li><b>Gems:</b> prawn, brazilian-rails, devise, cancancan, audited-activerecord, pg, whenever, figaro;</li>
						</ul>
				</div>
				<div class="panel-footer">
				</div>
			</div>
		</div>
	</div>
<% end %>
