<tr class="donation_row">
    <td class="donation_date"><%= d.donation_date %></td>
    <td class="donation_value"><%= number_to_currency(d.value) %></td>
    <td style="width: 50%" class="donation_remark"><%= d.remark %></td>
    <td style="width:16px;"></td>
</tr>