<% field_name = 'recipients_array' if local_assigns[:field_name].nil? %>

<div class="form-group">

                    <%= f.label field_name, :class => 'required' %>

                    <div class="input-group">
                        <span class="input-group-addon">@</span>
                        <input type="text" class="form-control" id="new_recipient_field" placeholder="<%= t('helpers.receipt_email.new_recipient') %>">
                        <span class="input-group-addon"><span class=" glyphicon glyphicon-plus add_recipient_btn" id="add_recipient_btn"></span></span>
                        <span class="input-group-btn add_recipient_btn"/>
                    </div>
                </div>

                <table id="recipients_table" class="table table-striped table-condensed table-bordered email_address_table">
                    <tbody>
                        <% @model.recipients_as_array.each_with_index do |email_address, index| %>
                            <%= render partial: 'helpers/email_address', locals: {email_address: email_address, index: index} %>
                        <% end %>
                    </tbody>
                </table>

                <%= f.hidden_field field_name %>

<script>

    var temp_id = -1;

    function already_present(email_address)
    {
        var result = false;

        $('#recipients_table > tbody > tr').each(function() {
            if($(this).find('.recipient_email').html() == email_address) {
                result = true;
            }
        })

        return result;
    }

    function validate_recipient_email(email) {
        var regex = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
        return regex.test(email);
    }


    $('body').on('click', '.remove_receipt_btn', function() {
        id = $(this).parent().parent().find('.recipient_id').text();

        $('#email_address_' + id).fadeOut('slow', function() {
            $('#email_address_' + id).remove();
        });
    });

    function remove_recipient(id) {
        $('#email_address_' + id).fadeOut('slow', function() {
            $('#email_address_' + id).remove();
        });
    }

    function formated_recipients()
    {
        var array = '';

        $('#recipients_table > tbody > tr').each(function() {
            array = array.concat($(this).find('.recipient_email').html() + ', ');
        })

        return array.substring(0, array.length - 2);
    }

</script>