<tr>
    <td class="">
        <div class="input-group">
            <span class="input-group-addon">R$</span>
            <%= f.text_field :value, :id => "new_donation_value", :value => '0,00', :class => 'form-control money input-sm' %>
        </div>
    </td>
    <td class=""><%=f.date_select :donation_date, {:prompt => { :day => t('helpers.select.prompt'), :month => t('helpers.select.prompt'), :year => t('helpers.select.prompt')}}, {:class => ' date-select form-control input-sm'} %></td>
    <td><%= f.text_field :remark, :class => 'form-control input-sm' %></td>
<tr>