<% I18n.with_options(scope: 'activerecord.attributes.receipt_email') do |i18n| %>
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-xs" id="add_company_to_body_btn"><%= i18n.t :company %></button>
                <button type="button" class="btn btn-primary btn-xs" id="add_value_to_body_btn"><%= i18n.t :value %></button>
                <button type="button" class="btn btn-primary btn-xs" id="add_competence_to_body_btn"><%= i18n.t :competence %></button>
            </div>
<% end %>