/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 * = require_tree .

 * = require_self
   *= require bootstrap-datepicker3
    *= require jquery-tablesorter/theme.blue
 */

 ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

.tab_body {
  background: white;
  padding-top: 10px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

.form_status_box{
  margin-top: 5px;
  margin-bottom: 20px;
}

td.table_icon {
  width: 30px;
  vertical-align:middle;
  horizontal-align: center;
}

.app_title {
 font-family: 'Metamorphous', cursive;
}

.main_form { padding-bottom: 400px; }

.notice:empty {
  display: none;
}

.padless {
    padding: 0px;
}

.table-hover tbody tr.model_row:hover td {
  background-color: #8FAEEE;
}

thead {
  background-color: #7E9DDD;
}

table.tablesorter thead tr th.headerSortUp {}

#login_box
{
    width: 300px;

  margin-left: auto;
  margin-right: auto;


    background: #CDD0F6;
    border-radius: 15px;
    padding: 20px;
    padding-bottom: 10px;

   vertical-align: middle;
}

tr td.icon-column{
    width:1%;
    white-space:nowrap;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    text-align: center;
}

div.centre
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  text-align: center;
}

html{
  height: 100%;
}
body {
  min-height: 100%;
}

.error_page_box
{
    background: #CDD0F6;
    border-radius: 15px;
    margin-bottom: 40px;
    padding: 5px;
    padding-bottom: 10px;
}

#main_menu li.active
{
    background: white;
}

.breadcrumb {background: rgba(245, 245, 245, 1); border: 0px solid rgba(245, 245, 245, 1); border-radius: 4px; display: block;}
.breadcrumb a {color: rgba(66, 139, 202, 1);}
.breadcrumb a:hover {color: rgba(42, 100, 150, 1);}
.breadcrumb>.active {color: rgba(153, 153, 153, 1);}
.breadcrumb>li+li:before {color: rgba(204, 204, 204, 1); content: "\00bb\00a0";}

textarea {
    resize: none;
    height: 120px;
}

  .main_box{
    padding: 26px;
    background-color:lavender;
    min-height: 100%;
    /*height: 100%;*/
  }

@media only screen and (max-width: 480px) {
  .main_box{
    padding: 0px;
  }

  .non-menu{
    padding: 8px;
  }
}

.email_address_table {
    table-layout: fixed;
    word-wrap: break-word;
}

label.required:after {
    content: " *";
    color:red;
}

form {
  display: inline;
}

.fixed-at-bottom {
	display:block;
	padding: 2px;
    border-top: solid #000000;
	background-color: #ffffff;
    position: fixed;
    bottom:-2;
}

.remove_receipt_btn{
	 cursor: pointer;
}

.add_recipient_btn{
   cursor: pointer;
}

.clickable{
   cursor: pointer;
}

#app_footer{
	margin-top: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
    justify-content: center;
    width: auto;
    bottom:-2;
}
