.edit_btn {
    cursor: pointer;
}
.remove_btn {
    cursor: pointer;
}
.question_btn {
    cursor: pointer;
}

.add_recipient_btn {
    cursor: pointer;
}

.destroy_btn {
    cursor: pointer;
}

.logout-xs-btn-box {
    margin-bottom: 15px;
    float: right;
    margin-right: 5px;
}

.logout-xs-btn {
    margin-top: -20px;
    float: right;
}

.admin_key_btn {
  margin-left: 4px;
}

.tag-buttons {
    float:right;
}