.unbreakable-table {
    table-layout: fixed;
    word-wrap: break-word;
}

.table-hover tbody tr.model_row:hover td {
    background-color: #BFCFFF;
}

table#index_table th {
    background-color: #428bca;
    color: white;

    a {
        color: white;
    }

    a:hover {
        color: white;
    }

    a:visited {
        color: white;
    }
}

#submenu-line {
    width: 100%;
}

table#index_table tfoot {
    background-color: #428bca;
    color: white;
}

th.column-lg {
    width: 50%;
}

tr { 
    th.icon-column {
        width: 16px;
        margin-left: auto;
        margin-right: auto;
    }
    
     td.icon-column {
        width: 16px;
        white-space: nowrap;
        margin-left: auto;
        margin-right: auto;
        align-content: center;
        text-align: center;
    }

    th.icon-column-2 {
        width: 32px;
        margin-left: auto;
        margin-right: auto;
    }

    td.icon-column-2 {
        width: 32px;
        white-space: nowrap;
        margin-left: auto;
        margin-right: auto;
        align-content: center;
        text-align: center;
    }
}

td.middle {
    vertical-align: middle;
}

.date-column {
    width: 16%;
}

.value-column {
    width: 14%;
}

th.id-column {
    width: 48px;
}

.input-table td {
    margin: 0 !important;
    padding: 0 !important;
}

td.button-wrapper {
    width: 30px;
    vertical-align: middle
}

.white-background {
    background-color: #FFFFFF;
}

.gray-background {
    background-color: #F9F9F9;
}

td.no-records {
     background-color: #E0E0F4;
     text-align: center;
}

th[scope=row] {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 80%;
    background-color: #fff;
}

